{% extends 'base.html' %}

{% block content %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type ="text/css" href="/static/css/next&prev.css">
</head>
<body>
	<center>
		<img src="https://i.ibb.co/TTt5cWJ/r4.pngs">
		<div style="text-align: center;">
		    <div style="display: inline-block; text-align: left;">
				<h3>Name: Oceana</h3>
				<p>Sizes: Small - Extra Large</p>
				<p>Description: Navy Blue patterned short-sleeved one piece rash guard</p>
				<p>Material: Fabric: Polyester: 85%, Spandex: 15%</p>
				<p>Price: 799</p>
			</div>
		</div>
		<a href="{{ url_for('r3') }}" class="previous round">&#8249;</a>
		<a href="{{ url_for('r5') }}" class="next round">&#8250;</a>
	</center>
</body>
</html>
{% endblock %}
