{% extends 'base.html' %}

{% block content %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="static\css\about_us.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    </head>
    <center>
    <body>
        <br>
        <div class="vision"> 
            <h1> Vision </h1>

                <p> We take advantage of the convenience of the technology and internet to expand our market internationally within the fashion industry. 
                        we create a community for betterment of all our employees so tht we can create a community that serve the consumer the best.</p>
        </div>
       
             
       
            
           
    
           
           
                     

        <div class="mission" >
            <h1 > Mission </h1>

                    <p>Our mission is to create swimswear innovations, develop high quality clothing where we bring change positively by leading in best value products. 

                        our goal is the highest standards when it comes to costumer service as we aim for costumer's satisfaction. We hope to maintain the best image and character for the global consumers. 
                        
                        We ensure to treat our valued costumers with high priority so that we can accomodate all their needs and meet their expectations. 
                        
                        Our company encourage growth for our people's career as we allow them for more opportunities in Blishop. 
                    </p>
                </div>  
            
                    
                
                    
            



            </table>
            
    
            
                
    
        
    
    
               
                 <body>
                 
     
                </Table>
           </center>
                
            
        
       
        
    
    
       
    
        </body>
    </html> 

    {% endblock %}
            

