{% extends 'base.html' %}

{% block content %}
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" type ="text/css" href="/static/css/contact.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        
    </head>
    <body>
    <center>
            
                </div>
             <br>
        <br>
        <br>
    
    <table border="0">
        <tr>
            <th colspan="2">
            <img src="https://i.ibb.co/09SLXqw/locationmap2.jpg" width="1000" height="300" alt="location map">
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <div class="contact-box">
                    <h1 class="Message-box">Message Us!</h1>
                    <form>
                        <input type="text" class="input-field" placeholder="Name">
                        <input type="email" class="input-field" placeholder="Email">
                        <input type="text" class="input-field" placeholder="item/s">
                        <textarea type="text" class="input-field textarea-field" placeholder="Message"></textarea>
                        <button type="button" class="btn">Send Message</button>
                    </form>

                </div>
            </td>
        <td>
        <div class="column">
            <div class="contact"> 
           <h1> Get In Touch With Us!</h1>
        <p>Email us with any questions or inquiries, we would be happy to assist you on your concerns! </p>
        <br>
        
        <h2> Contact details</h2> <br>
        <p1> Address</p1> <br>
        <p2> 42 Dama de Noche Street, Twinville Subdivision, 
            Concepcion Uno, Marikina City NCR</p2> <br> 
        <div class="Socialmedia">
        <h1>Facebook</h1>
            <a href="https://www.facebook.com/profile.php?id=100081683234828" target="_blank"><i class="fa fa-facebook-official"></i> BLISHOP</a>
        <h1>Email</h1>
            <a href="mailto:blishophere@gmail.com"><i class="fa fa-envelope"></i> blishophere@gmail.com</a>
        <h1>Instagram</h1>
            <a href="https://www.instagram.com/blishop_found/" target="_blank"><i class="fa fa-instagram"></i> @Blishop_found</a>
        <h1>Twitter</h1>
            <a href="https://twitter.com/blis_shop" target="_blank"><i class="fa fa-twitter"></i> @blis_shop</a>
        </div>
        </div>
          </div>
     </div>
     </div>
        </td>
        </tr>    
    </table>
    </center>

    

    </body>
</html>
{% endblock %}