{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="../pictures/logos.jfif" class="logo">
    </div>
        <img src="../pictures/shop.jpg" width="1000" height="300" alt="">
    </body>
    </center>
</html>

{% endblock %}
